<!DOCTYPE html>
<html lang="fr">
<head>

	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../ressources/css/style.css">
	<link rel="stylesheet" type="text/css" href="../ressources/bootstrap/css/bootstrap.min.css">
	<title></title>

	<style type="text/css">


		.section-1 .row div h2 {
			padding: 80px 50px;
			color: red;
			text-align: center;
			font-family: Century Gothic,Arial, Helvetica, sans-serif;
		}

		.section-1 .row div div h1{
			font-family: Century Gothic,Arial, Helvetica, sans-serif;
			text-transform: uppercase;
			font-weight: bold;

		}

		.section-1 .row div div p{
			font-family: Century Gothic,Arial, Helvetica, sans-serif;

		}


	</style>
</head>

<body>

	<section class="section-1">

		<div class="row">

			<div class="col-md-1">

				<!-- MENU VERTICAL -->
				<div class="menu">
					<h4>CI<span>Mac</span></h4>
					<a href="page1.html"><img src="../ressources/icons/icon-8.png"></a>
					<a href="../index.html"><img src="../ressources/icons/icon-5.png"></a>
					<a href="page3.html"><img src="../ressources/icons/icon-7.png"></a>
					<a href="#"><img src="../ressources/icons/icon-2.png"></a>
					<a href="#"><img src="../ressources/icons/icon-3.png"></a>
					<a href="#"><img src="../ressources/icons/icon-4.png"></a>
					<h6><a href="page7.html"><img src="../ressources/icons/icon-9.png"></a></h6>
				</div>

			</div>

			<div class="col-md-11">

				<!-- EN TETE -->
				<div class="head">
					<div class="banner">
						<h1>PORTAIL CIMac</h1>
					</div>

					<!-- Utilisateur-->
					<div class="user">
						<a><img src="../ressources/icons/icon-1.png"></a>
						<a><img src="../ressources/icons/icon-6.png"></a>
						<img src="../ressources/images/photo.jpg">
					</div>
				</div>
			</div>

			<!-- CONTENUS -->
			<div class="container-fluid">

				<h2>Bienvenue sur la plateforme CIMac</h2>

				<div>
					<h1>présentation</h1>
					<p>
					ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					</p>
				</div>
				

			</div>

			
	
		</div>
		
	</section>

</body>

</html>