<!DOCTYPE html>
<html lang="fr">
<head>

	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../ressources/css/style.css">
	<link rel="stylesheet" type="text/css" href="../ressources/bootstrap/css/bootstrap.min.css">
	<title></title>
</head>

<body>

	<section class="section-1">

		<div class="row">

			<div class="col-md-1">

				<!-- MENU VERTICAL -->
				<div class="menu">
					<h4>CI<span>Mac</span></h4>
					<a href="page1.html"><img src="../ressources/icons/icon-8.png"></a>
					<a href="../index.html"><img src="../ressources/icons/icon-5.png"></a>
					<a href="page3.html"><img src="../ressources/icons/icon-7.png"></a>
					<a href="page4.html"><img src="../ressources/icons/icon-2.png"></a>
					<a href="page5.html"><img src="../ressources/icons/icon-3.png"></a>
					<a href="page6.html"><img src="../ressources/icons/icon-4.png"></a>
					<h6><a href="page7.html"><img src="../ressources/icons/icon-9.png"></a></h6>
				</div>

			</div>

			<div class="col-md-11">

				<!-- EN TETE -->
				<div class="head">
					<div class="banner">
						<h1>DECONNEXION</h1>
					</div>

					<!-- Utilisateur-->
					<div class="user">
						<a><img src="../ressources/icons/icon-1.png"></a>
						<a><img src="../ressources/icons/icon-6.png"></a>
						<img src="../ressources/images/photo.jpg">
					</div>
				</div>
			</div>

			<!-- CONTENUS -->
			<div class="container-fluid">

				

			</div>

			
	
		</div>
		
	</section>

</body>

</html>